.bg-color{
    background: linear-gradient(to right, #5456FD, #DB3DF4);
}
.bg-os-secondary{
    background: #ddd;
}
.author{
    margin-top:-80px ;
}
.author:hover{
    border-color: #007BFF!important;
    transition: 0.3s ease-in-out;
}
.fa-brands,
.fa-solid{
    font-size: 20px;
    padding: 10px 5px;
}